/* Textbox.css */
.textbox {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.7s, height 0.7s;
    overflow: hidden;
    height: 12.5rem; /* 初始高度 */
  }
  
  .textbox:hover {
    transform: scale(1.1);
    height: 25rem; /* 懸停時的高度 */
  }

  .title2 {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
  }
  
  .content {
    color: black;
    text-align: center;
    font-family: sans-serif;
    line-height: 2;
    overflow: hidden; /* 防止文字超出框 */
  }
  