@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(to right, #e2e2e2, #c9d6ff); /* 從右到左的淺灰色到淺藍色的漸層 */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: white; /* 文字顏色設為白色，方便在淺色背景上顯示 */
}

/* 動畫效果 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.title {
  animation: fadeIn 1s ease-in-out;
}

.text-container {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* 顯示的最大行數 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: clamp(14px, 2.5vw, 18px); /* 調整文字大小的範圍 */
}
